<a href="https://colab.research.google.com/github/MDYLL/Megafon_test/blob/master/Megafon_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
from google.colab import files
uploaded = files.upload()

Saving 02_Data.csv to 02_Data.csv

In [0]:
ls

02_Data.csv  sample_data/

In [0]:
df=pd.read_csv('02_Data.csv',sep=';')

In [0]:
df.head()

    lac    cid        msisdn  ...  cell_type  start_angle  end_angle
0  5029  40798  158529599791  ...    OUTDOOR        220.0      280.0
1  7782  56870  158520145943  ...    OUTDOOR         45.0      105.0
2  7794  32226  158521798391  ...    OUTDOOR          0.0       60.0
3  7758  33528  158537830573  ...    OUTDOOR        210.0      270.0
4  5060  17568  158510204039  ...    OUTDOOR        180.0      240.0

[5 rows x 12 columns]

In [0]:
unique_numbers=df['msisdn'].unique()

In [0]:
quantity_numbers=len(unique_numbers)
quantity_numbers

2361

In [0]:
df2=df.loc[df.msisdn.isin([unique_numbers[0],unique_numbers[1]])]
df2.head()

       lac    cid        msisdn  ...  cell_type  start_angle  end_angle
0     5029  40798  158529599791  ...    OUTDOOR        220.0      280.0
1     7782  56870  158520145943  ...    OUTDOOR         45.0      105.0
175   5038  40708  158529599791  ...    OUTDOOR        200.0      260.0
1157  5038  40707  158529599791  ...    OUTDOOR         90.0      150.0
1300  5029  48789  158529599791  ...    OUTDOOR        270.0      330.0

[5 rows x 12 columns]

In [0]:
numbers2id=dict()
idx=0
for i in range(quantity_numbers-1):
  for j in range(i+1,quantity_numbers):
    numbers2id[idx]=(unique_numbers[i],unique_numbers[j])
    idx+=1

In [0]:
numbers2id[0], len(numbers2id)

((158529599791, 158520145943), 2785980)

In [0]:
df3=pd.DataFrame(columns=['numbers_id','mean_time','mean_distance'])

In [0]:
a=df.loc[df.msisdn.isin([numbers2id[3000][0],numbers2id[3000][1]])]
# numbers2id[3000]
a.head(700)

         lac    cid        msisdn  ...  cell_type  start_angle  end_angle
1       7782  56870  158520145943  ...    OUTDOOR         45.0      105.0
2182    7719  22729  158516882001  ...    OUTDOOR        240.0      300.0
2364    7719  22729  158516882001  ...    OUTDOOR        240.0      300.0
2381    7719  22728  158516882001  ...    OUTDOOR        150.0      210.0
2465    7719  22729  158516882001  ...    OUTDOOR        240.0      300.0
...      ...    ...           ...  ...        ...          ...        ...
107174  7719  20934  158516882001  ...    OUTDOOR        300.0        0.0
108631  7719  23176  158516882001  ...    OUTDOOR         50.0      110.0
115805  7782  38990  158520145943  ...    OUTDOOR         45.0      105.0
161714  7719  22728  158516882001  ...    OUTDOOR        150.0      210.0
161815  7719  22729  158516882001  ...    OUTDOOR        240.0      300.0

[110 rows x 12 columns]

In [0]:
# for i in range(len(numbers2id)):
for i in range(3000,3001):
  current_msisdn=0
  quantity_neib=0
  sum_tstamp=0
  sum_distance=0
  df2=df.loc[df.msisdn.isin([numbers2id[i][0],numbers2id[i][1]])]
  for index,row in df2.iterrows():
    if current_msisdn==0 or row['msisdn']==current_msisdn:
      current_msisdn=row['msisdn']
      current_tstamp=row['tstamp']
      current_long=row['long']
      current_lat=row['lat']
      continue
    quantity_neib+=1
    sum_tstamp+=row['tstamp']-current_tstamp
    q=row['tstamp']-current_tstamp
    sum_distance+=((row['long']-current_long)**2+(row['lat']-current_lat)**2)**0.5
    current_msisdn=row['msisdn']
    current_tstamp=row['tstamp']
    current_long=row['long']
    current_lat=row['lat']
    print(row['tstamp'],q)
  print(quantity_neib,sum_tstamp,sum_distance)

1369257418416 4617020
1369283311240 4153801
1369285687073 1884505
1369319545315 1064110
1369321409804 1357590
1369343802793 15776171
1369366049306 22246513
1369368373257 2323951
1369370636376 793076
1369407864157 5574175
1369412355032 199403
1369423094050 7642711
1369496841625 73747575
13 141380601 3.291083322594969